.top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 100;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;

}

.topLeft,.topRight{

    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.topCenter{
    flex: 6;

}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topList{

   display: flex;
   justify-content: center;
   margin: 0;
   padding: 20px;
   list-style: none;
   padding-left: 200px;

}
.topListItem{

    margin-right: 30;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    padding-right: 50px;
}
.topSechIcon{
    font-size: 1px;
    color: rgb(96, 85, 85);
    cursor: pointer;

}
.imglogo{
    width: 170px;
    height: 150px;
    padding-top: 50px;
    
}

.search{

    width: 140px;
    background-color: transparent;
    transition: width 2s ease-in-out;
    display: flex;
    justify-content: center;
    border-radius: 70%;
    

}